#footer {
  background: #00163b;
  width: 100%;
  h5 {
    color: #d3262b;
    font-weight: bold;
    &.text-center {
      text-align: left !important;
      margin-left: -10px;
    }
  }
  ul li a {
    color: #fff;
    font-size: 14px;
  }
  .block-menu {
    padding-right: 2em;
    padding-left: 8em;
    padding-top: 2em;
  }
  #block-menu-menu-social-media h5,
  #block-menu-menu-social-media-2 h5 {
    display: none;
  }
  ul.social-media {
    padding-top: 5px;
    padding-left: 0px;
    margin-left: -55px;
    margin-bottom: 0px;
  }
  .social-media li {
    display: inline-block;
  }
}
